@import './normalize.css';

html {
  font-size: 100px;
}

body {
  font: .12rem/1.2 "微软雅黑", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #000;
}

html,
body,
.content,
.app,
.chat {
  height: 100%;
  overflow: hidden;
}

/* login */
.login-container{
  width: 100%;
  height: 100%;
  position: absolute;
}
.move-swap{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.move-swap__back{
  background: url("../images/bg.jpg");
  position: absolute;
  background-position: center center!important;
  background-size: 100% 100%!important;
  background-repeat: no-repeat!important;
  margin:-5%;
  width:120%;
  height: 120%;
}

.loginBox{
  width: 3rem;
  height: 2rem;
  background: rgba(255,255,255,0.5);
  position: inherit;
  border-radius: 5px;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  left:50%;
  top:50%;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
}

/* chat */
.chat {
  display: flex;
}

.sidebar {
  flex: none;
  width: 2.2rem;
  height: 100%;
  background: #303e4b;
  overflow: auto;
}

.session {
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 100%;
  overflow: hidden;
}

.session-header {
  flex: none;
  height: .2rem;
}

.session-content {
  flex: auto;
  padding: .2rem;
  overflow: auto;
}

.news {
  font-size: .1rem;
  color: #666;
  text-align: center;
}

.message {
  display: flex;
  margin-top: .15rem;
  font-size: .14rem;

  &.self {
    .message-box {
      padding-left: 0;
      padding-right: .15rem;
      text-align: right;
    }

    .message-bubble {
      &::before {
        left: 100%;
        background: radial-gradient(circle at bottom right, transparent .1rem, #d4edf4 0);
      }
    }
  }
}

.message-face {
  display: block;
  flex: none;
  width: .35rem;
  height: .35rem;
  border-radius: .05rem;
}

.message-box {
  flex: auto;
  padding-left: .15rem;
}

.message-nickname {
  margin: 0;
  font-weight: bold;
}

.message-bubble {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: .1rem;
  border-radius: .1rem;
  background: #d4edf4;

  &::before {
    content: '';
    position: absolute;
    top: .1rem;
    left: -.1rem;
    width: .1rem;
    height: .1rem;
    background: inherit;
    background: radial-gradient(circle at bottom left, transparent .1rem, #d4edf4 0);
  }
}

.session-footer {
  display: flex;
  flex: none;
  padding: 0 .2rem .2rem;
}

.sender-input {
  flex: auto;
  padding: .1rem;
  border: 2px solid #ddd;
  border-right-width: 0;
  border-radius: .1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &:focus {
    outline: 0;
  }
}

.sender-btn {
  flex: none;
  padding: .1rem;
  border: 2px solid #ddd;
  border-radius: .1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #ddd;
  background: #fff;
  transition: all .3s ease;

  &:hover {
    border-color: #0e90d2;
    color: #fff;
    background: #0e90d2;
  }

  &:focus {
    outline: 0;
  }
}
